.tile {
    border: 0;
    font-size: 3em;
    aspect-ratio: 1;
    width: 2em;
}

#chessboard .tile:nth-child(odd)
{
    background-color: #d3b083;
}

#chessboard .tile:nth-child(even)
{
    background-color: #4f4f4f;
}

#chessboard .tile[selected] {
    background-color: #ffa100;
}

#chessboard .tile[cursor] {
    background-color: #ffff00;
}
